#background-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.img-apps {
  filter: grayscale(100%);
  width: 75px;
  margin-bottom: 0;
}
.img-apps-colored {
  width: 75px;
  margin-bottom: 0;
}
.img-apps:hover {
  filter: none;
}
.allign-center {
  height: 75px;
  display: flex;
  align-items: center;
  justify-contnet: center;
}
.play-button {
  font-size: 135px;
  color: #e3e2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
.play-button:hover {
  color: #532ca2;
}
.wordpressBlogContent img {
  width: 100%;
  height: auto;
}
.wordpressBlogContent figure {
  width: auto !important;
  text-align: center;
}
